body {
    background-color: #141414;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 20px;
}

input {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 8px;
    background-color: #e50914;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
